/*  Nome: Francesco Di Lena
    Classe: 4 F
    Progetto di TPSIT: creazione di un clone del sito della scuola con il framework Twitter Bootstrap
    File CSS locale con le direttive di stile delle pagine HTML*/
    
#intestazioneTerminePagina{

    /* La compatibilità dello sfondo sfumato viene garantita sulla maggior parte dei browser moderni */
    /* Internet Explorer 10 - 11 */
    background-image: -ms-linear-gradient(top, #004883 0%, #137c9c 100%, #004883 0%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #004883 0%, #137c9c 100%, #004883 0%);
    /* Opera */
    background-image: -o-linear-gradient(top, #004883 0%, #137c9c 100%, #004883 0%);
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #004883 0%, #137c9c 100%, #004883 0%);
    /* Regola standard */
    background-image: linear-gradient(top, #004883 0%, #137c9c 100%, #004883 0%);
    padding-top: 20px;
    padding-bottom: 20px;
}
#contenitoreIntestazionePagina{
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
#barraNavigazione{

    /* La compatibilità dello sfondo sfumato viene garantita sulla maggior parte dei browser moderni */
    /* Internet Explorer 10 - 11 */
    background-image: -ms-linear-gradient(bottom left, #7c9dbe 0%, #d3e0e9 100%);
    /* Mozilla Firefox*/
    background-image: -moz-linear-gradient(bottom left, #7c9dbe 0%, #d3e0e9 100%);
    /* Opera */
    background-image: -o-linear-gradient(bottom left, #7c9dbe 0%, #d3e0e9 100%);
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom left, #7c9dbe 0%, #d3e0e9 100%);
    /* Regola standard */
    background-image: linear-gradient(bottom left, #7c9dbe 0%, #d3e0e9 100%);
}
#corpo{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}
#contenitoriCorpo{
   
    background-color:rgb(238, 238, 238) ;
    color: rgb(12, 109, 173);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

#titoliCentrali{
    color: rgb(12, 109, 173);
}

#paragrafoSotto{
    font-size: 15px;
}

#pièPagina{

    /* La compatibilità dello sfondo sfumato viene garantita sulla maggior parte dei browser moderni */
    /* Internet Explorer 10 - 11 */
    background-image: -ms-linear-gradient(bottom left, #7c9dbe 0%, #d3e0e9 100%);
    /* Mozilla Firefox*/
    background-image: -moz-linear-gradient(bottom left, #7c9dbe 0%, #d3e0e9 100%);
    /* Opera */
    background-image: -o-linear-gradient(bottom left, #7c9dbe 0%, #d3e0e9 100%);
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom left, #7c9dbe 0%, #d3e0e9 100%);
    /* Regola standard */
    background-image: linear-gradient(bottom left, #7c9dbe 0%, #d3e0e9 100%);
    padding-top: 30px;
    padding-bottom: 30px;
}

#google-maps {
    position: relative;
    padding-bottom: 75%; /* Definisco l'aspect ratio */
    height: 100;
    overflow: hidden;
}

#google-maps > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}